In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("Churn_Modelling.csv")

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

I don't have any null values.

In [5]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [6]:
df.drop(columns=['RowNumber', 'CustomerId', 'Surname'], inplace=True, axis = 1) # Dropping the unnecessary columns

In [7]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [8]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

# Label Encoding for gender

label_encoder_gender = LabelEncoder()
df['Gender'] = label_encoder_gender.fit_transform(df['Gender'])

df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [9]:
# One Hot Encoding for Geography

one_hot_encoder_geo = OneHotEncoder()
geo_encoded = one_hot_encoder_geo.fit_transform(df[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns = one_hot_encoder_geo.get_feature_names_out(['Geography']))

In [10]:
df = pd.concat([df.reset_index(drop = True), geo_encoded_df], axis = 1)
df.drop('Geography', axis =1, inplace = True)
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [11]:
from sklearn.model_selection import train_test_split

X = df.drop('Exited',axis = 1)
y = df['Exited']
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state = 42)

print(f"Training Data Shape: {X_train.shape}")
print(f"Testing Data Shape: {X_test.shape}")

Training Data Shape: (8000, 12)
Testing Data Shape: (2000, 12)

In [12]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [13]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [14]:
import pickle
from google.colab import files


with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)


with open('one_hot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(one_hot_encoder_geo, file)


with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

files.download('label_encoder_gender.pkl')
files.download('one_hot_encoder_geo.pkl')
files.download('scaler.pkl')

# ANN

In [15]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [16]:
X_train[1].shape

(12,)

In [17]:
model = Sequential()
model.add(Dense(64,activation = 'relu', input_shape = (X_train.shape[1],))) # First Hidden Layer
model.add(Dense(32,activation = 'relu')) # Second Hidden Layer
model.add(Dense(1,activation = 'sigmoid')) # Output Layer

/usr/local/lib/python3.12/dist-packages/keras/src/layers/core/dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

I have to do binary classificationn so I used sigmoid. If I had more categories, I would have used softmax.

In [18]:
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [19]:
model.summary()

Model: "sequential"

 Layer (type)                     Output Shape                  Param #

 dense (Dense)                    (None, 64)                        832

 dense_1 (Dense)                  (None, 32)                      2,080

 dense_2 (Dense)                  (None, 1)                          33

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [20]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [21]:
early_stopping = EarlyStopping(monitor = 'val_loss', patience = 10, restore_best_weights = True)

log_dir = "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [22]:
history = model.fit(X_train, y_train, validation_data = (X_test, y_test), epochs = 100, callbacks=[early_stopping, tensorboard_callback])

Epoch 1/100
250/250  4s 7ms/step - accuracy: 0.7518 - loss: 0.5126 - val_accuracy: 0.8275 - val_loss: 0.3919
Epoch 2/100
250/250  3s 4ms/step - accuracy: 0.8453 - loss: 0.3854 - val_accuracy: 0.8515 - val_loss: 0.3573
Epoch 3/100
250/250  1s 4ms/step - accuracy: 0.8466 - loss: 0.3679 - val_accuracy: 0.8535 - val_loss: 0.3477
Epoch 4/100
250/250  1s 4ms/step - accuracy: 0.8565 - loss: 0.3419 - val_accuracy: 0.8560 - val_loss: 0.3522
Epoch 5/100
250/250  2s 7ms/step - accuracy: 0.8590 - loss: 0.3398 - val_accuracy: 0.8680 - val_loss: 0.3400
Epoch 6/100
250/250  1s 4ms/step - accuracy: 0.8613 - loss: 0.3377 - val_accuracy: 0.8570 - val_loss: 0.3388
Epoch 7/100
250/250  1s 4ms/step - accuracy: 0.8617 - loss: 0.3359 - val_accuracy: 0.8610 - val_loss: 0.3417
Epoch 8/100
250/250  1s 4ms/step - accuracy: 0.8648 - loss: 0.3272 - val_accuracy: 0.8600 - val_loss: 0.3444
Epoch 9/100
250/250  1s 4ms/step - accuracy: 0.8627 - loss: 0.3359 - val_accuracy: 0.8600 - val_loss: 0.3391
Epoch 10/100
250/250  1s 4ms/step - accuracy: 0.8707 - loss: 0.3154 - val_accuracy: 0.8655 - val_loss: 0.3383
Epoch 11/100
250/250  1s 4ms/step - accuracy: 0.8721 - loss: 0.3161 - val_accuracy: 0.8625 - val_loss: 0.3402
Epoch 12/100
250/250  1s 5ms/step - accuracy: 0.8597 - loss: 0.3201 - val_accuracy: 0.8625 - val_loss: 0.3352
Epoch 13/100
250/250  1s 4ms/step - accuracy: 0.8699 - loss: 0.3127 - val_accuracy: 0.8625 - val_loss: 0.3390
Epoch 14/100
250/250  1s 4ms/step - accuracy: 0.8670 - loss: 0.3155 - val_accuracy: 0.8615 - val_loss: 0.3358
Epoch 15/100
250/250  1s 4ms/step - accuracy: 0.8674 - loss: 0.3180 - val_accuracy: 0.8635 - val_loss: 0.3366
Epoch 16/100
250/250  1s 4ms/step - accuracy: 0.8675 - loss: 0.3115 - val_accuracy: 0.8645 - val_loss: 0.3378
Epoch 17/100
250/250  1s 4ms/step - accuracy: 0.8742 - loss: 0.3143 - val_accuracy: 0.8635 - val_loss: 0.3385
Epoch 18/100
250/250  1s 4ms/step - accuracy: 0.8691 - loss: 0.3064 - val_accuracy: 0.8640 - val_loss: 0.3368
Epoch 19/100
250/250  1s 4ms/step - accuracy: 0.8711 - loss: 0.3100 - val_accuracy: 0.8605 - val_loss: 0.3389
Epoch 20/100
250/250  1s 4ms/step - accuracy: 0.8799 - loss: 0.2925 - val_accuracy: 0.8600 - val_loss: 0.3415
Epoch 21/100
250/250  1s 4ms/step - accuracy: 0.8707 - loss: 0.3088 - val_accuracy: 0.8585 - val_loss: 0.3415
Epoch 22/100
250/250  1s 4ms/step - accuracy: 0.8658 - loss: 0.3071 - val_accuracy: 0.8615 - val_loss: 0.3409

In [23]:
model.save('model.h5')
from google.colab import files
files.download('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.